:root {
    --primary-color: #03084b;
    --white-color: #FFFFFF;
    --gap: 3rem;
    --light-gray-color: rgba(238, 238, 238, 0.514);
    --secondary-color: crimson;
    --letra: red;
    --preto-fundo: black;
}